body {
  background-image: url(https://wallpaperaccess.com/full/4994666.jpg);
  background-size: cover;
  margin: 0;
}

body .startGame {
  margin: auto;
  font-size: 21px;
  text-align: center;
  margin-top: 15%;
  width: 110px;
  height: 50px;
}

* {
  font-family: "Anton", sans-serif;
  font-family: "Festive", cursive;
  font-family: "Harmattan", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Londrina Shadow", cursive;
}

#player {
  height: 100px;
  position: absolute;
  top: calc(50% - 225px);
  left: 60px;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#player.skin_1 {
  width: 222px;
  height: 135px;
  background: url(img/player_1.png) 100% 100% no-repeat;
  background-size: cover;
}

#player.skin_2 {
  width: 185px;
  height: 135px;
  background: url(img/player_2.png) 100% 100% no-repeat;
  background-size: cover;
}

.enemy_1 {
  position: absolute;
  top: calc(50% - 85px);
  right: 20px;
  width: 150px;
  height: 123px;
  background-image: url(img/enemy_1.png);
  background-size: cover;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.enemy_2 {
  position: absolute;
  top: calc(50% - 85px);
  right: 20px;
  width: 185px;
  height: 123px;
  background-image: url(img/enemy_2.png);
  background-size: cover;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.bullet {
  width: 15px;
  height: 5px;
  background: #fefbfe;
  border-radius: 2px 5px 5px 2px;
  position: absolute;
  top: 20%;
  left: 145px;
  border-radius: 2px 7px 7px 2px;
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px, 0 0 15px red, 0 0 25px red;
  z-index: 5;

  -webkit-transition: all 0.005s;
  -moz-transition: all 0.005s;
  transition: all 0.005s;
}

.boom {
  position: absolute;
  width: 104px;
  height: 125px;
  background: url(img/boom.gif);
  background-size: cover;
}

.killCounterBlock {
  position: absolute;
  top: 20px;
  left: 20px;
}

.killCounterBlock span {
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin: 10px;
  float: right;
  width: 120px;
  color: crimson;
}

#lifes {
  position: absolute;
  top: 20px;
  right: 20px;
}

#lifes span {
  display: block;
  margin: 10px;
  float: left;
  width: 44px;
  height: 40px;
  background: url(img/life_2.png);
  background-size: cover;
}

#root {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  width: 800px;
  margin: auto;
}

.playerCard {
  background-color: rgb(90, 182, 205);
  width: 250px;
  height: 220px;
  padding: 20px 0 0 20px;
  align-content: center;
  border-radius: 20px;
  cursor: pointer;
}

.playerCard:hover {
  box-shadow: 270px 0 0 0 rgba(0, 0, 0, 0.3) inset;
  transition: 0.4s;
}

.playerCard_2 {
  background-color: rgb(98, 175, 10);
  width: 250px;
  height: 220px;
  padding: 20px 0 0 20px;
  align-content: center;
  border-radius: 20px;
  cursor: pointer;
}

.playerCard_2:hover {
  box-shadow: 270px 0 0 0 rgba(0, 0, 0, 0.3) inset;
  transition: 0.4s;
}

.player_1 {
  width: 222px;
  height: 135px;
  margin-top: 10px;
  background-image: url(img/player_1.png);
  background-size: cover;
}

.player_2 {
  width: 222px;
  height: 162px;
  background: url(img/player_2.png) 100% 100% no-repeat;
  background-size: cover;
}

.textBlock {
  margin: 8% auto 0 auto;
  text-align: center;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  background-color: tomato;
}
